{
  "env": {
    "node": true,
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "rules": {
    "comma-spacing": 0,
    "key-spacing": 0,
    "no-undef": 2,
    "no-unused-vars": 2,
    "quotes": [2, "single"],
    "semi": 0,
    "strict": 0
  }
}
